@keyframes dotloading-animation{
     0% { opacity: 1; }
     99% { opacity: 0; }
     100% { opacity: 0; }
}
.dotloading{
    font-weight:bold;
    font-size:large;
}
.dotloading.dotloading_first{
    animation: dotloading-animation 1s linear infinite;
    animation-delay: 0s;
}
.dotloading.dotloading_second{
    animation: dotloading-animation 1s linear infinite;
    animation-delay: 0.33s;
}
.dotloading.dotloading_third{
    animation: dotloading-animation 1s linear infinite;
    animation-delay: 0.66s;
}