.remove-button-1 {
	outline: none;
	background-color: transparent;
	border: none;
	padding: 3px;
	margin: 0;
}
.remove-button-1:hover , .remove-button-1:active{
	cursor:pointer;
}
.remove-button-1 path{
	fill:#606060;
}
.remove-button-1:hover path{
	fill:#e43636;
}
.remove-button-1:active path{
	fill:#9e2727;
}
.remove-button-2{
    outline: none;
    background: transparent;
    border: none;
    padding: 5px;
    height: 25px;
    width: 25px;
    margin: 0 0 0 10px;
    border-radius: 5px;
    background-color: #ff7a7a;
    box-shadow:0 0 0 4px #ff7a7a,0 0 0 4px #ff7a7a;
    transition: box-shadow 0.4s,background-color 0.4s;
}
.remove-button-2:hover{
    cursor:pointer;
    background-color:rgb(0 0 0 / 12%);
    box-shadow:0 0 0 4px rgb(0 0 0/12%),0 0 0 4px rgb(0 0 0/0);
}
.remove-button-2:active{
	cursor: pointer;
	background-color:rgb(0 0 0 / 25%);
	box-shadow:0 0 0 4px rgb(0 0 0/25%),0 0 0 4px rgb(0 0 0/0);
}