.button-coursenotes{
    outline: none;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    color: #454553;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 500;
    font-size: inherit;
}
.button-coursenotes:active{
	cursor: pointer;
}
.button-coursenotes:hover{
	color: #8a8a8a;
}
.button-coursenotes.clicked{
	color: #000000;
}
.button-coursenotes.urgent{
	color: #e70000;
}
.button-coursenotes.urgent:hover{
	color: #cd4848;
}
.button-coursenotes.urgent.clicked{
	color: #8f0000;
}
.coursenotes{
	display: flex;
	background-color: grey;
	min-width: 30em;
	border-radius: 15px;
	color: white;
	position: absolute;
	left: 100%;
	font-weight: normal;
	top:0;
	padding: 10px;
	flex-direction: column;
}
.coursenotes.nodisplay{
	display:none;
}
.main_notes{
	border-collapse: separate;
	border-spacing: 10px;
}
.main_notes td:first-child {
	width: 10em;
}
.main_notes td:last-child {
	width: 20em;
}
.main_notes td {
	border: 2px solid white;
	padding: 10px;
	border-radius: 10px;
}
.main_notes tr.urgent td{
	border: 2px solid #bf0000;
}