.section{
	border-collapse: separate;
	border-spacing: 5px 3px;
	width: -webkit-fill-available;
}
.section_tooltip_container{
	width:0;
	height:0;
	position: relative;
	padding: 5px;
	background-color: #65b7ff;
	border-radius: 0 50% 50% 0;
	color: #fff;
	cursor: default;
	display: flex;
	align-items: center;
	transition: border-radius 0.2s linear;
}
.section_tooltip{
	display: none;
	align-items:center;
	font-weight: normal;
	background-color: grey;
	border-radius: 6px;
	padding: 1em;
	position: absolute;
	left: 100%;
	border-top: 2px solid #bbdfff;
	border-right: 2px solid #bbdfff;
	border-bottom: 2px solid #bbdfff;
	border-left: none;
}
.section_tooltip_container:hover{
	background-color:grey;
	border-radius: 50% 0 0 50%;
}
.section_tooltip_container:hover .section_tooltip{
	display:flex;
}
.section_tooltip:hover{
	display:flex;
}
.section_info{
	display: flex;
	flex-direction: column;
	white-space: nowrap;
}
.section_note{
	display: flex;
	flex-direction: column;
	white-space: normal;
	margin-left: 10px;
	border-left: 2px solid white;
	padding-left: 10px;
	justify-content: space-around;
}
.section_rooms,.section_startend{
	display:flex;
}
.section_rooms div,.section_startend div{
	display:flex;
	flex-direction:column;
	margin:0 0 0 5px;
}

.force-section-container{
	line-height: 1em;
	position: relative;
}
.force-section-container:hover{
	cursor:pointer;
}
.force-section-container:active{
	cursor:pointer;
}
.force-section-modal{
	position: absolute;
	display: none;
	flex-direction: column;
	background-color: #1563ac;
	color: white;
	width: max-content;
	border-radius: 0 5px 5px 5px;
	padding: 5px;
	font-weight: 500;
	top: 100%;
	left: 0;
	z-index: 1;
}
.force-section-button{
	outline: none;
	background-color: #1e84e4;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: inherit;
}
.force-section-button:hover{
	cursor:pointer;
}
.force-section-button:active{
	cursor:pointer;
}
.force-section-container:hover .force-section-modal{
	display:flex;
}
.force-section-container:hover .force-section-button{
	background-color: #1563ac;
	border-radius: 5px 5px 0 0;
}
