@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.layout_course{
	position:absolute;
	left:0;
	width: 30em;
	height: fit-content;
	border-radius: 15px;
	background-color: white;
	color: #454553;
	white-space: normal;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
	line-height: 2em;
	padding:10px;
	margin:0;
	transform-origin: top left;
	animation: slide 0.7s;
}
.layout_course.dragging{
	transform: scale(1.05);
	opacity:0.9;
}
.courseheader{
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	margin: 0;
}
.course_title{
	margin: auto 12px;
	line-height: normal;
}
.coursemiddle{
	font-weight: 500;
	margin: 5px 0 10px 0;
	padding:0 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 2px solid #eaeaea;
	border-radius: 7px;
}
ul{
	margin:0;
	padding:0;
	list-style-type: none;
}
li{
	margin:0;
	padding:0;
	list-style-type: none;
}
.scrollspace{
	position: absolute;
	height: 1px;
	width: 1px;
	padding:0;
	margin:0;
	visibility: hidden;
}
.layout_course_banner_link{
	display: flex;
	flex-direction: column;
	text-decoration: none;
	font-weight: 600;
	line-height: 0.8em;
	color: #0075ff;
	margin-right: 7px;
	padding:0;
	white-space: nowrap;
}
.layout_course_banner_link:hover{
	color:#4cacff;
}