.layout_filler{
	position: absolute;
	background-color: aliceblue;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
	margin: 0;
	padding: 0 10px;
}